@import '../../styles/mixins.scss';

.root {
  background-color: var(--lit-black);
  color: var(--lit-white);
  padding: 6rem 0;
}

.container {
  display: flex;
  flex-direction: column;

  @include sm {
    flex-direction: row;
  }
}

.cardGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__heading {
    margin-bottom: 4rem;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.selected,
.unselected {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 500px;

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.selected {
  background: linear-gradient(
    to right,
    var(--lit-royal-blue),
    var(--lit-black)
  );

  &__title {
    color: var(--lit-blue-accent);
  }

  border: 2px solid var(--lit-blue-stroke);
  border-radius: 0.5rem;
  color: var(--lit-white);
}

.unselected {
  background: linear-gradient(
    45deg,
    var(--network-gradient-color-1) 8%,
    var(--network-gradient-color-2) 40%,
    var(--network-gradient-color-3) 100%
  );
  border-radius: 0.5rem;
  color: var(--lit-blue-gray);
  position: relative;

  &__inner {
    transition: all 0.3s ease-in-out;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    padding: 1px; // This defines the border width
    background: linear-gradient(
      90deg,
      var(--lit-light-blue),
      var(--lit-light-blue-dark)
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

// Add animation for content
.selected__title,
.unselected__title,
.selected > p,
.unselected__inner > p {
  transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}

.iconOutline {
  background-color: transparent !important;
  border: none !important;

  // Target all children recursively
  * {
    color: var(--lit-light-blue) !important;
    background-color: transparent !important;
  }

  svg {
    stroke: var(--lit-light-blue) !important;
    fill: transparent !important;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.imageContainer,
.placeholder {
  width: 100%; // Full width of the parent
  margin-top: 24px;
}

.fullImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  transition: opacity 0.3s ease-in-out;
}

.tabsRoot {
  width: 100%;
}

.tabsList {
  &::before {
    display: none !important;
  }
  
  /* Force scrollable behavior */
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  
  /* Hide scrollbar in webkit browsers */
  &::-webkit-scrollbar {
    display: none;
  }
}
