:root {
  --lit-white: #F3EFEE;
  --lit-black: #121619;
  --lit-gray-50: rgb(242, 244, 248);
  --lit-gray-100: rgb(221, 225, 230);
  --lit-gray-200: rgb(193, 199, 205);
  --lit-gray-300: rgb(162, 169, 176);
  --lit-gray-400: rgb(135, 141, 150);
  --lit-gray-500: rgb(105, 112, 119);
  --lit-gray-600: rgb(77, 83, 88);
  --lit-gray-700: rgb(52, 58, 63);
  --lit-gray-800: rgb(33, 39, 42);
  --lit-gray-900: rgb(18, 22, 25);
  --lit-orange: #FF4205;
  --lit-orange-light: rgb(255, 132, 79);
  --lit-orange-dark: #992803;
  --lit-pink: rgb(170, 17, 85);
  --lit-pink-dark: rgb(117, 10, 65);
  --lit-yellow: #FFBE3F;
  --lit-yellow-dark: #997226;
  --lit-light-blue: #A5B9CC;
  --lit-light-blue-dark: #567799;
  --lit-royal-blue: #003265;
  --lit-blue-gray: #A5B9CC;
  --lit-blue-accent: #8FC6FF;
  --lit-blue-stroke: #A1D5FF;
  --lit-brown: #5C1E0A;
  --lit-features-bg: rgba(244, 224, 217, .7);
  --network-gradient-color-1: rgba(245, 245, 245, .08);
  --network-gradient-color-2: rgba(0, 50, 101, .4);
  --network-gradient-color-3: rgba(161, 213, 255, .1);
}
