@import '../../styles/mixins.scss';

.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;

  @include lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }
}

.logo {
  width: var(--marquee-size);
  display: flex;
  justify-content: center;
  max-height: 2.5rem;
}

.logo img,
.logo svg {
  filter: brightness(0) invert(1);
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  vertical-align: middle; // Add this
}

.marquee {
  min-height: 2.5rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
  -webkit-mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--marquee-gap);
  min-width: 100%;
  animation: scroll-x var(--marquee-duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--marquee-scroll-start));
  }
  to {
    transform: translateX(var(--marquee-scroll-end));
  }
}
